<div class="row">
  <div class='content'>
  <h1 class="page-header">
    Contact Us
    <small>Join the conversation!</small>
  </h1>
  <p>
    We're passionate about advancing the bitcoin community and advancing humanity, and we think one of the best ways to do that is to get people talking about the future.  So join the conversation and get in touch.
  </p>

  <h2>Contact Info</h2>
  <div class='row'>
    <div class='col-md-4'>
      <p>Email: <a href='mailto:info@DunveganSpace.com'>info@DunveganSpace.com</a></p>
      <p>Phone: <a href='tel:+14043682295'>+1 404.368.2295</a></p>
      <p>Twitter: <a href='https://twitter.com/DunveganSpace'><i class="fa fa-twitter"></i> @DunveganSpace</a></p>
    </div>
    <div class="col-md-6 col-md-offset-1">



      <!-- <form id="form" role="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Name" />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name='message' class='form-control' rows='4' placeholder='Enter your message'></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <div id="formresponse" style="display:none;"></div> -->
    </div>

  </div>  
</div>

