<div class="full-panel" id="panelZero" >
  <div class='row'>
    <div class='callToAction col-md-6'>
      <h1>Dunvegan Space Systems</h1>
      <h2>Decentralized Space Solutions</h2>
      <div class="btn-group">
        <a href="/#/vision" class="btn btn-large btn-default">
          <i class="fa fa-book"></i>
          Read Our Manifesto
        </a>
        <a href="/#/about" class="btn btn-large btn-success">
          <i class="fa fa-rocket"></i>
          Take a Look at Bitsat
        </a>
      </div>
    </div>
    <div class='col-md-4 col-md-offset-1 introText prlx'>
        <h2>Bitcoin in Space!</h2>
        <p>Dunvegan Space Systems is an early stage company focused on "next mile" space transport and energy systems, spacecraft and natural resources outside low earth orbit (LEO), and other infrastructure necessary to build a sustainable transport system between planetary bodies of our solar system.</p>

        <p>Currently, DSS's main project is Bitsat, which aims to provide bitcoin blockchain data to an unlimited number of ground receivers from a satellite in space.</p>
      </div>
  </div>
  <div class='panel-caption'>
    <h2>
      <a href='http://www.nasa.gov/mission_pages/rbsp/multimedia/20120809_L-14_briefing_materials_prt.htm' target="_blank">NASA concept of RBSP twin satellites</a>
    </h2>
  </div>
</div>
