

<div class="full-panel prlx" id="panelOne" 
data-0="background-position:0px 0px;" 
data-500="background-position:0px -200px;" >
<h1 class='header-text prlx' data-0='opacity: 0; padding-top:150px' data-75='opacity: 0.0' data-150='opacity: 1; padding-top:200px'>Dunvegan Space Systems</h1>
  <div class='panel-caption prlx ' data-0="opacity: 0" data-250="opacity: 0.8" >
    <h2>
      <a href='http://www.spacetelescope.org/images/heic0910e/' target="_blank">The Carina Nebula</a>
      <small>7500 lightyears away</small>
    </h2>
  </div>
</div>
<div>
  <div class="container-fluid">
    <div class="content">
      <h1 class="page-header">
        Our Vision
        <small>Developing the future one day at a time</small>
      </h1>
    <p>Dunvegan Space Systems is an early stage company focused on "next mile" space transport and energy systems, spacecraft and natural resources outside low earth orbit (LEO), remote sensing technology, long distance data transmission and other infrastructure necessary to build a sustainable transport system between planetary bodies of our solar system.</p>

     <p>DSS has a system-wide vision for outer space development.  Human and robotic exploration are but the first steps towards a larger vision of development.  Humans and robots will benefit from a solar system that is "wired for networking."  Each planet, major moons and some asteroids should be connected via relay satellites in planetary orbits and La Grange points.  The Weather Channel will be able to provide a forecast for Venus or Jupiter just as easily as for locations on Earth, today, thanks to weather, mapping and positioning satellites on each planet.</p>

     <h1 class='page-header'>
      Aiming for the Stars
      <small>Even if we miss, we'll hit the moon</small>
    </h1>
     <p>When humans first set foot on Mars, it will be a historic occasion.  More interesting is the first colony on Mars.  This will require far more than just a research station, packed tightly into a rocket, with periodic resupply.  A truly sustainable settlement will require decades of robotic preparation.  Swarms of autonomous vehicles and 3D printers will assist in the creation of a long term, livable habitat. In-situ resource extraction and processing methods may be seeded, to begin the long process towards building a base for humans.
     </p>

      <p>Moving all these materials will require a transportation network no less resilient than the interplanetary communications network.  Propellant depots, strategically positioned boosters, nano-rockets and other new technologies will lower the cost of interplanetary transport exponentially, from today's costs and lead times.</p>

      <p>The philosophy of Dunvegan Space Systems is to formulate large goals, and play some small role in helping humanity reach that goal.  It is irrelevant whether DSS or another company or government, or most likely, some combination thereof, accomplishes this goal.  DSS takes an active role when opportunities present themselves, to advance humanity towards these long term goals.</p>
   </div>
 </div>
</div>